:root{
    --primary-color: rgb(234, 234, 234);
    --header-color: rgb(179, 134, 134);
    --default-edge-margin: 30px;
}

html{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background-color: var(--primary-color);
    margin: 0px;
}

h1{
    color: var(--header-color);
}

div{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.center-wrapper.single-item{
   display: flex;
   justify-content: center;
   margin: 40px var(--default-edge-margin) 0px;
   /* align-items: center;  */
   /* align-content: center; */
}

main{
    justify-content: center;
}

.body-container{
    display: flex;
    justify-content: center;
    margin: 120px var(--default-edge-margin);
    flex-flow: row wrap-reverse;
    overflow: hidden;
}

.body-container .item{
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-container .item.left{
    flex: 1;
}

.body-container .tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 6px;
}

.body-container .item.right{
    flex: 2;
}

#color-picker{
    padding: 0px;
    border-style: none;
    width: 100px;
    height: 100px;
}

#grid{
    width: 300px;
    height: 300px;
}
